body{
  background-color: white;
}

.name{
  color: aliceblue;
}

.contact{
  color: beige;
}
.roles{
color: white;
}


.about{
  color: aliceblue;
  text-align: center;

}
li{
  list-style: none;
}
.heading{
  color: white;
}

.social-container {
  background: #0A0B12;
  padding: 25px 50px;
}
a {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}
a:hover {
  transform: translateY(-2px);
}

a.Twitter {
  color: #49a1eb;
}

a.Instagram {
  color: white;
}

a.GitHub {
  color: aliceblue;
}
